body {
    overflow: hidden;
}

#unity-container.unity-desktop {
    left: 0;
    top: 0;
    transform: translate(0, 0);
}

#unity-canvas {
    width: 100vw !important;
    height: 100vh !important;
}

#unity-footer {
    display: none !important;
}